{% extends 'AdminBundle::base.html.twig' %}

{% block title %}
  {{ 'user.change_password.title'|trans }}
{% endblock %}

{% block pageTitle %}
  {{ 'user.change_password.title'|trans }}
{% endblock %}

{% block pageSubTitle %}
  {{ 'user.change_password.header_description'|trans }}
{% endblock %}

{% block content %}
  <div class="white-content clearfix">
    <h2>{{ 'form.description'|trans }}</h2>
    <div class="row">
        <div class="col total">
            {{ form_start(form_password, {'attr': {'id': 'password-form'}}) }}
                <div class="row">
                    <div class="col moitie">
                        {{ form_label(form_password.plainPassword.first, form_password.plainPassword.first.vars.id) }}
                        {{ form_widget(form_password.plainPassword.first) }}
                    </div>
                    <div class="col moitie">
                        {{ form_label(form_password.plainPassword.second, form_password.plainPassword.second.vars.id) }}
                        {{ form_widget(form_password.plainPassword.second) }}
                    </div>
                </div>
                <button type="submit" class="btn btn-aqua">
                    {{ 'form.btn.update'|trans }}
                </button>
            {{ form_end(form_password) }}
        </div>    
    </div>
  </div>
{% endblock %}







