{% extends 'AdminBundle::base.html.twig' %}

{% block title %}
	Manage Users
{% endblock %}

{% block pageTitle %}
	Manage Users
{% endblock %}

{% block pageSubTitle %}
	Lorem ipsum dolor sit amet, consectetur adipisicing elit.
{% endblock %}

{% block content %}
	<section class="white-content clearfix">
	    <table class="main-table datatable">
	   		<thead>
		   		<tr>
		   			<th>user</th>
		   			<th>email</th>
		   			<th>phone</th>
		   			<th>address</th>
		   			<th>roles</th>
		   			<th class="no-sorting">actions</th>
		   		</tr>
		   	</thead>
		   	<tbody>
		   		{% for user in users %}
					<tr>
						<td>
							{{ user.firstname }}
							{{ user.lastname }}
						</td>
						<td>
							{{ user.email }}
						</td>
						<td>
							{{ user.phone }}
						</td>
						<td>
							{{ user.address }}
							{{ user.city }},
							{{ user.zipcode }}
						</td>
						<td class="user-roles">
							{{ user.roles|join(', ')|capitalize }}
						</td>
						<td>
							<a href="{{ path('admin_update_user', {'id': user.id }) }}" class="btn btn-aqua">
								<i class="material-icons">mode_edit</i>
							</a>
							<a href="#!" class="btn btn-darkpurple" data-toggle="modal" data-target="#delete-confirmation_{{user.id}}">
								<i class="material-icons">delete</i>
							</a>
							{{ include('AdminBundle::Includes/delete-confirmation.html.twig') }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}


