{% extends 'AdminBundle::base.html.twig' %}

{% block title %}
	{{ 'user.index.manage_users'|trans }}
{% endblock %}

{% block pageTitle %}
	{{ 'user.index.manage_users'|trans }}
{% endblock %}

{% block pageSubTitle %}
	{{ 'user.index.header_desciption'|trans }}
{% endblock %}

{% block content %}
	<section class="white-content clearfix">
	    <table class="main-table datatable">
	   		<thead>
		   		<tr>
		   			<th class="no-sorting no-border-right">
		   			{{ 'user.index.user'|trans }}
		   			</th>
		   			<th class="no-padding-left"></th>
		   			<th>
		   				{{ 'user.index.contact'|trans }}
		   			</th>
		   			<th>
		   				{{ 'user.index.address'|trans }}
		   			</th>
		   			<th>
		   				{{ 'user.index.roles'|trans }}
		   			</th>
		   			<th class="no-sorting action" width="125">
		   				{{ 'user.index.actions'|trans }}
		   			</th>
		   		</tr>
		   	</thead>
		   	<tbody>
		   		{% for user in users %}
					<tr>
						<td class="no-border-right">
							<div class="content-flex picture pull-left">
								<img src="{{ asset('images/avatar/' ~ user.avatar) }}" onError="this.onerror=null;this.src='{{ asset('images/error/no-image.png') }}';">
							</div>
						</td>
						<td class="no-padding-left">
							{{ user.firstname }}
							{{ user.lastname }}
						</td>
						<td>
							<a href="mailto:{{ user.email }}" class="mailto">
								{{ user.email }}
							</a>
							{{ user.phone }}
						</td>
						<td>
							{{ user.address }}
							{{ user.city }},
							{{ user.zipcode }}
						</td>
						<td class="user-roles">
							{{ user.roles|join(', ')|capitalize }}
						</td>
						<td>
							<a href="{{ path('admin_update_user', {'id': user.id }) }}" class="btn btn-aqua">
								<i class="material-icons">mode_edit</i>
							</a>
							<a href="#!" class="btn btn-darkpurple" data-toggle="modal" data-target="#delete-confirmation_{{user.id}}">
								<i class="material-icons">delete</i>
							</a>
							{{ include('AdminBundle::Includes/delete-confirmation.html.twig') }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}


