<header id="second-header" class="clearfix">
    <div class="page">
        <div class="container">
            <i class="material-icons" id="burger-menu-open">menu</i>
            <ul id="user-data">
                <li>
                    <a href="#!">
                        <div class="content-flex avatar-thumbnail">
                            <img src="{{ asset('images/avatar/' ~ app.user.avatar) }}" onError="this.onerror=null;this.src='{{ asset('images/error/no-image.png') }}';">
                        </div>
                        <p>
                            {{ app.user.firstname }} {{ app.user.lastname }}
                            <i class="material-icons">keyboard_arrow_down</i>
                        </p>
                    </a>
                    <ul>
                        <li class="user-profile">
                            <div class="content-flex avatar-thumbnail pull-left">
                                <img src="{{ asset('images/avatar/' ~ app.user.avatar) }}" onError="this.onerror=null;this.src='{{ asset('images/error/no-image.png') }}';">
                            </div>
                            <div class="pull-left">
                                <p>
                                    {{ app.user.firstname }} {{ app.user.lastname }}
                                    <span>{{ app.user.email }}</span>
                                </p>
                                <a href="{{ path('admin_update_user', {'id': app.user.id }) }}">
                                    edit profile
                                </a>
                            </div>
                        </li>
                        <div class="user-shortcut">
                            <li></li>
                        </div>
                        <li class="btn-logout">
                            <a href="{{ path('admin_security_logout') }}" class="btn">
                                <i class="material-icons">power_settings_new</i>
                                logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>  
        </div> 
    </div>
</header>  