{% extends 'AdminBundle::base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <section id="login-page" class="clearfix">
        {% if error %}
            <div class="bg-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}
        
        <form action="{{ path("admin_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="input-container">
                <label for="username">email</label>
                <input type="email" id="username" name="_username" value="{{ last_username }}" required="required">
            </div>
            <div class="input-container">
                <label for="password">password</label>
                <input type="password" id="password" name="_password" value="password">
            </div>
            
            <input type="checkbox" id="remember_me" name="_remember_me" value="on">
            <label for="remember_me" class="label-checkbox">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
           

            <input class="btn btn-aqua" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />

        </form>
        
    </section>
{% endblock %}